Source: checkbox-ng
Section: utils
Priority: optional
Maintainer: Checkbox Developers <checkbox-devel@lists.ubuntu.com>
Uploaders: Sylvain Pineau <sylvain.pineau@canonical.com>,
           Zygmunt Krynicki <zygmunt.krynicki@canonical.com>,
           Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all,
               python3-crypto,
               python3-distutils-extra,
               python3-docutils,
               python3-guacamole (>= 0.9),
               python3-jinja2,
               python3-padme,
               python3-pkg-resources,
               python3-requests (>= 1.0),
               python3-requests-oauthlib,
               python3-setuptools,
               python3-sphinx,
               python3-tk,
               python3-urwid,
               python3-xlsxwriter
Standards-Version: 3.9.6
X-Python3-Version: >= 3.2
Vcs-Git: https://anonscm.debian.org/git/python-modules/packages/checkbox-ng.git
Vcs-Browser: https://anonscm.debian.org/cgit/python-modules/packages/checkbox-ng.git
Homepage: https://launchpad.net/checkbox-ng

Package: checkbox-ng
Architecture: all
Depends: python3-checkbox-ng (= ${binary:Version}),
         ${misc:Depends},
         ${python3:Depends}
Conflicts: plainbox
Replaces: plainbox
Description: CheckBoxNG test runner
 CheckBoxNG is a hardware testing tool useful for certifying laptops,
 desktops and servers. It is a new version of CheckBox that is built
 directly on top of PlainBox. CheckBoxNG replaces CheckBox, where applicable.
 .
 This package contains the CheckBox command line tool

Package: python3-checkbox-ng
Architecture: all
Depends: plainbox-secure-policy (= ${binary:Version}) | plainbox-insecure-policy (= ${binary:Version}),
         policykit-1,
         python3-crypto,
         python3-guacamole (>= 0.9),
         python3-jinja2,
         python3-padme,
         python3-pkg-resources,
         python3-requests (>= 1.0),
         python3-requests-oauthlib,
         python3-urwid,
         python3-xlsxwriter,
         ${misc:Depends},
         ${python3:Depends}
Conflicts: python3-plainbox
Replaces: python3-plainbox
Description: CheckBoxNG test runner (Python 3 library)
 CheckBoxNG is a hardware testing tool useful for certifying laptops,
 desktops and servers. It is a new version of CheckBox that is built
 directly on top of PlainBox. CheckBoxNG replaces CheckBox, where applicable.
 .
 This package contains the checkbox-ng Python 3 library

Package: python3-checkbox-ng-doc
Architecture: all
Section: doc
Priority: extra
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: CheckBoxNG test runner (documentation)
 CheckBoxNG is a hardware testing tool useful for certifying laptops,
 desktops and servers. It is a new version of CheckBox that is built
 directly on top of PlainBox. CheckBoxNG replaces CheckBox, where applicable.
 .
 This package contains the documentation for the checkbox-ng Python 3 library

Package: plainbox-secure-policy
Architecture: all
Depends: ${misc:Depends}
Conflicts: plainbox-insecure-policy
Replaces: plainbox-insecure-policy
Description: policykit policy required to use CheckBoxNG (secure version)
 CheckBoxNG is a hardware testing tool useful for certifying laptops,
 desktops and servers. It is a new version of CheckBox that is built
 directly on top of PlainBox. CheckBoxNG replaces CheckBox, where applicable.
 .
 This package contains a PolicyKit .policy file that allows CheckBoxNG to run
 plainbox-trusted-launcher-1 as root and ask for the user password only once
 per session.

Package: plainbox-insecure-policy
Architecture: all
Priority: extra
Depends: ${misc:Depends}
Conflicts: plainbox-secure-policy
Replaces: plainbox-secure-policy
Description: policykit policy required to use CheckBoxNG (insecure version)
 CheckBoxNG is a hardware testing tool useful for certifying laptops,
 desktops and servers. It is a new version of CheckBox that is built
 directly on top of PlainBox. CheckBoxNG replaces CheckBox, where applicable.
 .
 Note that installing this package will allow *any* local user to execute any
 of the CheckBoxNG jobs (test definitions), also installed on the same machine
 (in system-wide locations), without any confirmation. You should only install
 this package on machines where that is not a security problem. Typically this
 package is installed on test machines inside automatically deployed test
 farms.
