Source: checkbox-provider-certification-server
Section: utils
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Standards-Version: 3.9.3
Build-Depends: checkbox-ng,
               debhelper (>= 9.2),
               intltool,
               checkbox-provider-resource,
               python3-all (>= 3.2),
               python3-debian,
               python3-setuptools

Package: checkbox-provider-certification-server
Architecture: all
Depends: checkbox-provider-base, ${plainbox:Depends}
Recommends: bonnie++,
            canonical-certification-submit,
            checkbox-provider-gpgpu,
            cpu-checker,
            freeipmi-tools,
            fwts (>=16.02.00-0ubuntu1~),
            iperf,
            ipmitool,
            nmap,
            qemu-system,
            qemu-utils,
            screen,
            ssh,
            stress,
            stress-ng,
            ${plainbox:Recommends}
Suggests: ${plainbox:Suggests}
X-Plainbox-Provider: yes
Replaces: plainbox-provider-certification-server (<< 2.0.0)
Breaks: plainbox-provider-certification-server (<< 2.0.0)
Description: Server Certification provider for Checkbox
 This package provides a test set of test plans that are used by Canonical
 for the testing and certification of "server" devices.
 .
 The actual tests (also known as checkbox jobs) are sourced from base and
 checkbox resource providers. This package only contains the test plans
 themselves.

Package: canonical-certification-server
Architecture: all
Depends: checkbox-ng,
         checkbox-provider-certification-server (= ${binary:Version})
Description: Server Certification Launcher
 This package provides the Server Certification Launcher. The launcher is an
 executable application that can be started by a test operator to perform the
 testing process associated with certification of servers at Canonical.

Package: plainbox-provider-certification-server
Depends: checkbox-provider-certification-server, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.
