global-include COPYING
global-include README*
recursive-include checkbox_support/parsers/tests/fixtures *.txt
recursive-include checkbox_support/parsers/tests/pactl_data *.txt
recursive-include checkbox_support/parsers/tests/udevadm_data *.txt
