global-include COPYING
global-include README*
global-include LICENSE*
global-include CHANGELOG*
recursive-include checkbox_support/vendor/brisque/models *.txt *.pickle
recursive-include checkbox_support/snap_utils/tests/asserts_data *.txt
recursive-exclude debian *
exclude .coveragerc
exclude tox.ini
