global-include COPYING
global-include README*
recursive-include checkbox_support/vendor/brisque/models *.txt *.pickle
recursive-include checkbox_support/snap_utils/tests/asserts_data *.txt
recursive-include checkbox_support/scripts/tests/test_data *.txt
recursive-exclude debian *
