[run]
branch = True
source = bin,manage
omit =
    tests/*
    # vendorized https://github.com/thesofproject/sof/blob/main/tools/sof_ri_info/sof_ri_info.py
    bin/sof_ri_info.py

[report]
exclude_lines =
    @abc.abstractmethod
    @abc.abstractproperty
    @abstractmethod
    @abstractproperty
    @public
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
show_missing = True
