@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 300;
    src: local("Ubuntu Light"), local("Ubuntu-Light"), url("https://fonts.gstatic.com/s/ubuntu/v7/_aijTyevf54tkVDLy-dlnD8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: local("Ubuntu"), url("https://fonts.gstatic.com/s/ubuntu/v7/_xyN3apAT_yRRDeqB3sPRg.woff") format("woff");
}
@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("https://fonts.gstatic.com/s/ubuntu/v7/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 300;
    src: local("Ubuntu Light Italic"), local("Ubuntu-LightItalic"), url("https://fonts.gstatic.com/s/ubuntu/v7/DZ_YjBPqZ88vcZCcIXm6VobN6UDyHWBl620a-IRfuBk.woff") format("woff");
}
@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 400;
    src: local("Ubuntu Italic"), local("Ubuntu-Italic"), url("https://fonts.gstatic.com/s/ubuntu/v7/kbP_6ONYVgE-bLa9ZRbvvvesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 700;
    src: local("Ubuntu Bold Italic"), local("Ubuntu-BoldItalic"), url("https://fonts.gstatic.com/s/ubuntu/v7/OMD20Sg9RTs7sUORCEN-7YbN6UDyHWBl620a-IRfuBk.woff") format("woff");
}
@font-face {
    font-family: "Ubuntu Mono";
    font-style: normal;
    font-weight: 400;
    src: local("Ubuntu Mono"), local("UbuntuMono-Regular"), url("https://fonts.gstatic.com/s/ubuntumono/v6/ViZhet7Ak-LRXZMXzuAfkYbN6UDyHWBl620a-IRfuBk.woff") format("woff");
}

/* JQM Demos custom CSS */

.ui-collapsible-content,
.ui-collapsible-heading a {
    font-family: 'Ubuntu', sans-serif;
}

/* Header */
.jqm-demos .jqm-header {
    background: #fff;
    border-top: 4px solid #DD4815;
    border-bottom-color: #eee;
}
.jqm-demos .jqm-header > h1,
.jqm-demos .jqm-header > h2,
.jqm-demos .jqm-header > h3,
.jqm-demos .jqm-header > p,
.jqm-demos .jqm-header > table,
.jqm-demos .jqm-header > thead,
.jqm-demos .jqm-header > tbody,
.jqm-demos .jqm-header > td,
.jqm-demos .jqm-header > tr,
.jqm-demos .jqm-header > th,
.jqm-demos .jqm-header > ul li,
.jqm-demos .jqm-header > a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}
.jqm-demos .jqm-header h1 {
    font-size: 2.4em;
    margin: 0 0 .325em;
}
.jqm-demos .jqm-header h2 {
    padding: .4em 0 .1em;
    margin: 0 3em;
}
.jqm-demos .jqm-header h2 a {
    display: inline-block;
    text-decoration: none;
    min-height: 40px;
}
.jqm-demos .jqm-header h2 img {
    display: block;
    width: 140px;
    height: auto;
}
.jqm-demos .jqm-header h2 > img {
    display: inline-block;
}
.jqm-demos .jqm-header p {
    position: absolute;
    bottom: -2em;
    left: 1em;
    margin: 0;
    color: #666;
    font-weight: 300;
    text-transform: uppercase;
}
.jqm-demos .jqm-header .ui-btn {
    width: 2em;
    height: 2em;
    background: none;
    border: 0;
    top: 50%;
    margin-top: -1em;
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
    opacity: .4;
    filter: Alpha(Opacity=40);
}

/* Footer */
.jqm-demos .jqm-footer.ui-footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 0;
}
.jqm-demos .jqm-footer {
    border-top: 1px solid #DD4815;
}
.jqm-demos .jqm-footer p {
    font-size: .8em;
    color: #999;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    margin: 0 1.25em 1.25em;
}
.jqm-demos .jqm-footer p:first-child {
    font-size: 1em;
    color: #666;
    font-weight: 400;
    margin: 1em 1em .75em;
}

/* Content */
.jqm-demos .jqm-content {
    padding-top: 3em;
}
.jqm-demos .jqm-content > h1,
.jqm-demos .jqm-content > h2,
.jqm-demos .jqm-content > h3,
.jqm-demos .jqm-content > p,
.jqm-demos .jqm-content > table,
.jqm-demos .jqm-content > thead,
.jqm-demos .jqm-content > tbody,
.jqm-demos .jqm-content > td,
.jqm-demos .jqm-content > tr,
.jqm-demos .jqm-content > th,
.jqm-demos .jqm-content > ul li,
.jqm-demos .jqm-content > a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}
.ui-table th, .ui-table td {
    vertical-align: middle;
}
.jqm-demos .jqm-content > h1 {
    font-size: 2.4em;
    margin: 0 0 .625em;
}
.jqm-demos .jqm-content > h2 {
    color: #DD4815;
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    font-size: 1.6em;
    padding-bottom: .2em;
    margin: 0 0 .7375em;
}
.jqm-demos .jqm-content > h3 {
    color: #DD4815;
    background-color: transparent;
    font-size: 1.4em;
    margin: 0 0 1em;
}
.jqm-demos .jqm-content > p {
    font-size: 1.2em;
    line-height: 1.5;
}
.jqm-demos .jqm-content > ul:not(.jqm-list) li {
    font-size: 1.2em;
    line-height: 1.5;
}
.jqm-demos .jqm-content > p {
    margin: 0 0 1.25em;
}
.jqm-demos .jqm-content > ul,
.jqm-demos .jqm-content > ol {
    padding-left: 1.3em;
}
.jqm-demos .jqm-content > .ui-listview {
    padding-left: 0;
}
.jqm-demos .jqm-content > a,
.jqm-demos .jqm-content > p a,

.jqm-demos .jqm-content > ul:not(.jqm-list) li a {
    font-weight: 400;
    text-decoration: none;
}
.jqm-demos .jqm-content strong {
    font-weight: 700;
}
.jqm-demos .jqm-content > p strong {
    font-weight: 400;
}

/* Code */
.jqm-content pre,
.jqm-content code {
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-size: .8em;
    padding: 0;
    line-height: 1em;
}
.jqm-content pre {
    white-space: pre-wrap;
}
.jqm-content pre > code {
    padding: 0;
    background: none;
    font-size: .8em;
}

/* Quick links */
.jqm-demos .jqm-content .jqm-deeplink {
    display: block;
    color: #999;
    font-weight: 300;
    border-top: 1px solid #eee;
    text-align: right;
    padding-top: .2em;
    margin: 0 0 1.5em;
}
.jqm-demos .jqm-content .jqm-deeplink:after {
    content: "";
    display: block;
    float: right;
    margin: .1em 0 0 .5em;
    width: 1em;
    height: 1em;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .4;
    filter: Alpha(Opacity=40);
}

.skippedCount {
    color: #FF9900;
    font-size: 1em;
    text-shadow: none;
    font-family: 'Ubuntu', sans-serif;
}
.failedCount {
    color: #DC3912;
    font-size: 1em;
    text-shadow: none;
    font-family: 'Ubuntu', sans-serif;
}
.passedCount {
    color: #6AA84F;
    font-size: 1em;
    text-shadow: none; 
    font-family: 'Ubuntu', sans-serif;
}

@media (min-width: 60em) {
    .jqm-demos .jqm-header h2 {
        padding: 1em 0 .7em;
        margin: 0 1em 0 3%;
        text-align: left;
    }
    .jqm-demos .jqm-header h2 img {
        width: 275px;
        height: 78px;
    }
    .jqm-demos .jqm-header p {
        bottom: auto;
        left: auto;
        top: 50%;
        right: 15%;
        font-size: 1.2em;
        margin-top: -.625em;
    }
    .jqm-demos .jqm-navmenu-link {
        display: none;
    }
    .jqm-demos .jqm-search-link {
        right: 3%;
    }
    .jqm-demos .jqm-footer p {
        float: right;
        margin: 1.5em 3% 1.5em 1.5em;
    }
    .jqm-demos .jqm-footer p:first-child {
        float: left;
        margin: 1.25em 1.25em 1.25em 3%;
    }
    .jqm-demos .jqm-navmenu-panel {
        visibility: visible;
        position: relative;
        left: 0;
        clip: initial;
        float: left;
        width: 25%;
        background: none;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        transition: none !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        transform: none !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .jqm-demos.jqm-panel-page .jqm-navmenu-panel {
        display: none;
    }
    html .jqm-demos.jqm-panel-page .jqm-navmenu-panel.jqm-panel-page-nav {
        display: block;
    }
    .jqm-demos .jqm-navmenu-panel .ui-panel-inner {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .jqm-demos .jqm-content {
        width: 67%;
        padding-top: 2em;
        margin: 0 auto;
    }
    .jqm-demos .jqm-content.jqm-fullwidth {
        width: auto;
        padding-left: 15%;
        padding-right: 15%;
        float: none;
    }
    .jqm-navmenu-panel .ui-listview .ui-btn {
        padding-left: 12.5%;
    }
    .jqm-navmenu-panel .ui-listview .ui-listview .ui-btn {
        padding-left: 15%;
    }
    .jqm-navmenu-panel .ui-collapsible,
    .jqm-navmenu-panel .ui-collapsible-content,
    .jqm-navmenu-panel .ui-btn {
        background: none !important;
        border-color: #ddd !important;
    }
    .jqm-navmenu-panel .ui-btn.ui-btn-active {
        color: #3388cc !important;
    }
    .jqm-navmenu-panel .ui-btn::after {
        opacity: 0;
        -webkit-transition: opacity 500ms ease;
        -moz-transition: opacity 500ms ease;
        transition: opacity 500ms ease;
    }
    .jqm-navmenu-panel .ui-btn:hover::after {
        opacity: .4;
    }
    .jqm-search-panel {
        width: 26em;
        right: -26em;
        z-index: 1003; /* Puts the panel on top of the dismiss modal which is not adjusted to custom width */
    }
    .jqm-search-panel.ui-panel-animate.ui-panel-position-right {
        -webkit-transform: translate3d(26em,0,0);
        -moz-transform: translate3d(26em,0,0);
        transform: translate3d(26em,0,0);
    }
    .ui-panel-dismiss-open.ui-panel-dismiss-position-right {
        left: -17em;
        right: 17em;
    }
}
