[run]
branch = True
source = .
omit =
    test_*

[report]
exclude_lines =
    @abc.abstractmethod
    @abc.abstractproperty
    @abstractmethod
    @abstractproperty
    @public
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
show_missing = True
