Source: checkbox-provider-gpgpu
Section: utils
Priority: optional
Maintainer: Checkbox Developers <checkbox-devel@lists.ubuntu.com>
Uploaders: Jeff Lane <jeffrey.lane@canonical.com>
Build-Depends: checkbox-ng,
               debhelper (>= 9),
               intltool,
               pkg-config,
               plainbox-provider-checkbox (>= 0.31),
               python3,
               python3-checkbox-ng,
               python3-debian,
               python3-setuptools
Standards-Version: 3.9.6
Homepage: https://launchpad.net/checkbox-provider-gpgpu

Package: checkbox-provider-gpgpu
Architecture: all
Depends: plainbox-provider-checkbox (>= 0.27~), ${plainbox:Depends}, ${misc:Depends}
X-Plainbox-Provider: yes
Description: Checkbox provider for GPGPU testing
 This package provides a test plan and tooling to be used by Canonical for the
 testing and certification of GPGPU devices in "server" computer systems
 .
 This provider depends heavily on the installation of the latest nVidia drivers
 and the CUDA tool kit from nVidia, as well as testing software hosted on
 github.

