Source: plainbox-provider-resource-generic
Section: utils
Priority: optional
Maintainer: Checkbox Developers <checkbox-devel@lists.ubuntu.com>
Uploaders: Sylvain Pineau <sylvain.pineau@canonical.com>,
           Zygmunt Krynicki <zygmunt.krynicki@canonical.com>,
           Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Build-Depends: autoconf,
               automake,
               debhelper (>= 9),
               intltool,
               libnl-3-dev,
               libnl-genl-3-dev,
               pkg-config,
               python3,
               python3-checkbox-ng,
               python3-debian
Standards-Version: 3.9.6
Vcs-Svn: svn://anonscm.debian.org/python-apps/packages/plainbox-provider-resource-generic/trunk/
Vcs-Browser: http://anonscm.debian.org/viewvc/python-apps/packages/plainbox-provider-resource-generic/trunk/
Homepage: http://launchpad.net/plainbox-provider-resource

Package: plainbox-provider-resource-generic
Architecture: any
Depends: ${misc:Depends}, ${plainbox:Depends}, ${shlibs:Depends}
Suggests: ${plainbox:Suggests}
Recommends: ${plainbox:Recommends}
X-Plainbox-Provider: yes
Description: CheckBox generic resource jobs provider
 This package provides the generic resource jobs. It is used together
 alongside with PlainBox.
 .
 Jobs are smallest units of testing that can be performed by PlainBox.
 All jobs have an unique name. There are many types of jobs, some are fully
 automated others are fully manual.
 .
 Resources are collections of key-value data sets that are generated by
 special resource jobs. They are extensively used to indicate hardware or
 software dependencies. For example a bluetooth test may indicate it
 requires bluetooth hardware and appropriate software packages installed.
