[run]
branch = True
source = plainbox
omit =
    plainbox/tests.py
    plainbox/vendor/*
    plainbox/test_*
    plainbox/impl/test_*
    plainbox/impl/integration_tests.py
    plainbox/impl/commands/test_*
    plainbox/impl/exporter/test_*
    plainbox/impl/transport/test_*
    plainbox/impl/secure/test_*
    plainbox/testing_utils/test_*

[report]
exclude_lines =
    pragma: no cover
    @public
    @abstractmethod
    @abstractproperty
    raise NotImplementedError
