include README.md
include COPYING
include mk-interesting-graphs.sh
recursive-include plainbox/test-data *.json *.xml *.txt
recursive-include docs *.rst
include docs/conf.py
recursive-include plainbox/data/report *.rng *.css *.xsl *.js
recursive-include plainbox/data/report/images *.png
include contrib/policykit_yes/org.freedesktop.policykit.pkexec.policy
include contrib/policykit_auth_admin_keep/org.freedesktop.policykit.pkexec.policy
