global-include *.po *.pot POTFILES.in
global-include *.sh
global-include COPYING LICENSE
global-include README*
global-include Vagrantfile
include plainbox/impl/providers/stubbox/bin/*
include plainbox/impl/providers/stubbox/manage.py
include plainbox/impl/providers/stubbox/whitelists/*.whitelist
include plainbox/vendor/argparse/py*-argparse.py
recursive-exclude daily-package-testing *
recursive-exclude plainbox/vendor/textland-project COPYING README.md
recursive-include contrib *.policy
recursive-include docs *.rst *.py *.html *.conf
recursive-include plainbox/data *.rng *.xsl *.png *.css *.js
recursive-include plainbox/impl/providers/stubbox/units *.txt.in *.txt
recursive-include plainbox/test-data *.json *.xml *.html
