*.pyc
*.snap
__pycache__
build/mo/*
dist/*.tar.gz
parts/
snap/.snapcraft
snap/gui/
stage/
prime/

# following files are populated by the prepare.sh script and should be ignored
.bumpversion.cfg
config/
