#!/usr/bin/make -f
export SRCTOP=providers/certification-client

%:
	dh $@ --sourcedirectory=$(SRCTOP)

override_dh_auto_clean:
	python3 $(SRCTOP)/manage.py clean
	rm -f debian/*.1

override_dh_auto_build:
	mkdir -p debian/tmp
	python3 $(SRCTOP)/manage.py build
	python3 $(SRCTOP)/manage.py i18n --dont-update-pot --dont-merge-po
	rst2man debian/canonical-certification-cli.rst debian/canonical-certification-cli.1
	rst2man debian/canonical-certification-client.rst debian/canonical-certification-client.1
	rst2man debian/canonical-certification-submit.rst debian/canonical-certification-submit.1

override_dh_auto_test:
	python3 $(SRCTOP)/manage.py validate

pkg_name=checkbox-provider-certification-client
verbose_id=certification-client
terse_id=$(pkg_name)

override_dh_auto_install:
	python3 $(SRCTOP)/manage.py install \
		--prefix=/usr --layout=unix \
		--root=$(CURDIR)/debian/tmp/

override_dh_gencontrol:
	python3 $(SRCTOP)/manage.py packaging
	dh_gencontrol
