[Desktop Entry]
Encoding=UTF-8
Name=CheckBox SRU
Comment=CheckBox can run after login to test a system automatically.
Icon=checkbox
Exec=sh -c "pidof systemd && sudo systemctl start checkbox-ci-installed-notifier.service; /usr/bin/checkbox sru --check-config >/tmp/checkbox.log 2>&1; sudo systemctl start checkbox-ci-mailer.service || sudo initctl emit checkbox-sru-started; /usr/bin/checkbox sru --check-config >/tmp/checkbox.log 2>&1; sudo initctl emit checkbox-sru-finished"
Terminal=false
Type=Application
Categories=
X-Ubuntu-Gettext-Domain=checkbox
