[Unit]
Description=CheckBox SRU on server
After=network-online.target
After=checkbox-ci-installed-notifier.service
# checkbox sru - Run CheckBox SRU tests after booting 
#
# Run SRU testing with CheckBoxNG after networking
# has started and connection available.

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c "/usr/bin/checkbox check-config || exit 1"
ExecStartPre=/bin/mkdir -p /var/cache/plainbox
ExecStart=-/bin/systemctl start checkbox-ci-installed-notifier.service 
ExecStart=/bin/sh -c "/usr/bin/checkbox sru > /tmp/checkbox-server.log 2>&1"
ExecStopPost=-/bin/systemctl start checkbox-ci-mailer.service

[Install]
# This is roughly equivalent to "start on runlevel [2345]"
WantedBy=multi-user.target
#stop on runlevel [!023456]
