canonical-sphinx[full]==0.5.1
packaging
sphinxcontrib-svg2pdfconverter[CairoSVG]
sphinx-last-updated-by-git
sphinx-sitemap
sphinx-jsonschema
sphinxcontrib-mermaid
# psutil
# setuptools-scm
# sphinx-autobuild
# tqdm
# urwid