canonical-sphinx[full]==0.5.1
packaging
sphinxcontrib-svg2pdfconverter[CairoSVG]
sphinx-last-updated-by-git
sphinx-sitemap
sphinx-jsonschema
sphinxcontrib-mermaid

# Vale dependencies
rst2html
vale~=3.13.0    # 3.18 caused check failures on code block `::`
