[Desktop Entry]
Encoding=UTF-8
Name=Plainbox Command
Comment=Plainbox can run after login to test a system automatically.
Icon=checkbox
Exec=sudo plainbox sru /tmp/submission.xml
Terminal=True
Type=Application
Categories=
X-Ubuntu-Gettext-Domain=plainbox
