[Desktop Entry]
Encoding=UTF-8
Name=Plainbox Command
Comment=Plainbox can run after login to test a system automatically.
Icon=checkbox
Exec=sh -c "sudo /usr/bin/plainbox sru >/tmp/plainbox.log 2>&1; sudo initctl emit plainbox-finished"
Terminal=false
Type=Application
Categories=
X-Ubuntu-Gettext-Domain=plainbox
