Source: checkbox-provider-base
Section: utils
Priority: optional
Maintainer: Checkbox Developers <checkbox-devel@lists.ubuntu.com>
Uploaders: Sylvain Pineau <sylvain.pineau@canonical.com>
Build-Depends: debhelper (>= 9),
               intltool,
               libasound2-dev,
               checkbox-provider-resource,
               python3,
               python3-checkbox-support,
               python3-checkbox-ng,
               python3-debian
Standards-Version: 3.9.6

Package: checkbox-provider-base
Architecture: any
Depends: checkbox-provider-resource,
         python3,
         python3-checkbox-support,
         ${misc:Depends},
         ${plainbox:Depends},
         ${shlibs:Depends}
Recommends: bonnie++,
            curl,
            ethtool,
            gir1.2-cheese-3.0,
            gir1.2-gst-plugins-base-1.0,
            gir1.2-gstreamer-1.0,
            gstreamer1.0-plugins-good,
            gstreamer1.0-plugins-bad,
            gstreamer1.0-pulseaudio,
            hdparm,
            kmod,
            libgstreamer1.0-0,
            lshw,
            pm-utils,
            python3-apt,
            python3-dbus,
            python3-gi,
            smartmontools,
            sysstat,
            ${plainbox:Recommends}
Suggests: fswebcam,
          fwts,
          glmark2,
          glmark2-es2,
          gtkperf,
          mesa-utils,
          obexftp,
          render-bench,
          stress,
          wmctrl,
          ${plainbox:Suggests}
Replaces: plainbox-provider-checkbox (<< 2.0.0)
Breaks: plainbox-provider-checkbox (<< 2.0.0)
X-Plainbox-Provider: yes
Description: Checkbox base provider
 This package provides the Checkbox jobs collection, i.e the hardware test
 definitions and scripts originally included with Checkbox.
 .
 Jobs are smallest units of testing that can be performed by Checkbox.
 All jobs have an unique name. There are many types of jobs, some are fully
 automated others are fully manual.

Package: plainbox-provider-checkbox
Depends: checkbox-provider-base, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.
