#!/usr/bin/make -f
export SRCTOP=providers/base

%:
	dh $@ --sourcedirectory=$(SRCTOP)

override_dh_auto_clean:
	python3 $(SRCTOP)/manage.py clean

override_dh_auto_build:
	python3 $(SRCTOP)/manage.py build
	python3 $(SRCTOP)/manage.py i18n --dont-update-pot --dont-merge-po

override_dh_auto_test:
	python3 $(SRCTOP)/manage.py validate --loose --legacy

override_dh_auto_install:
	python3 $(SRCTOP)/manage.py install \
		--prefix=/usr --layout=unix \
		--root=$(CURDIR)/debian/checkbox-provider-base/

override_dh_gencontrol:
	python3 $(SRCTOP)/manage.py packaging
	dh_gencontrol
