name: Check formatting with Black
permissions:
  contents: read
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  check-with-black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false
      - uses: psf/black@782e5605c86aab56be6f905da10dcd3e463fd9c2
        with:
          options: "--check --diff --line-length 79 --extend-exclude '/vendor/'"
