name: Check formatting with Black
permissions:
  contents: read
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  check-with-black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          persist-credentials: false
      - uses: psf/black@05f0a8ce1f71fbb36e1e032d3b518c7b945089a2
        with:
          options: "--check --diff --line-length 79 --extend-exclude '/vendor/'"
