name: Debian packages daily build

on:
  schedule:
    - cron: '00 04 * * *'
  workflow_dispatch:
  workflow_call:

jobs:
  check_history:
    runs-on: ubuntu-latest
    name: Check for new commits
    outputs:
      should_run: ${{ steps.check_log.outputs.should_run }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check for new commits to any deb
        id: check_log
        run: |
          git rev-list --abbrev-commit --pretty=oneline HEAD --not $(git rev-list -n1 --before="24 hours" --first-parent HEAD) -- checkbox-ng checkbox-support providers checkbox-core-snap checkbox-snap
          changes=$(git rev-list --abbrev-commit --pretty=oneline HEAD --not $(git rev-list -n1 --before="24 hours" --first-parent HEAD) -- checkbox-ng checkbox-support providers checkbox-core-snap checkbox-snap)
          if [[ -z $changes ]]
            then
              echo "should_run=false" >> $GITHUB_OUTPUT
            else
              echo "should_run=true" >> $GITHUB_OUTPUT
          fi

  deb_daily_builds:
    name: Debian packages daily build
    needs: check_history
    if: ${{ needs.check_history.outputs.should_run != 'false' }} || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt update -qq
          sudo apt install -qq -y python3-launchpadlib python3-setuptools-scm
          git clone -b main https://git.launchpad.net/~hook25/ppa-dev-tools /tmp/ppa-dev-tools
      - name: Checkout checkbox monorepo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: nick-fields/retry@14672906e672a08bd6eeb15720e9ed3ce869cdd4 # v2.9.0
        name: Check for new commits, push build and wait result
        env:
          LP_CREDENTIALS: ${{ secrets.LP_CREDS }}
          PYTHONUNBUFFERED: 1
        with:
          retry_wait_seconds: 600 # 10min
          max_attempts: 3
          timeout_minutes: 480 # 8h
          command: |
            tools/daily-builds/deb_daily_builds.py
