name: Automatic documentation checks
permissions:
  contents: read
on:
  pull_request:
    paths:
      - "docs/**"
  push:
    branches: ["fix-docs-check-sitemap2"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  spellcheck:
    name: Spelling check
    runs-on:
      group: "Canonical self-hosted runners"
      labels:
        - self-hosted
        - linux
        - jammy
        - large
        - X64
    defaults:
      run:
        working-directory: docs
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false

      - name: Install the doc framework
        working-directory: docs/
        run: |
          sudo apt install -y -qq python3-venv
          make install

      - name: Run spelling checker
        working-directory: docs/
        run: |
          make spelling

  woke:
    name: Inclusive language check
    runs-on:
      group: "Canonical self-hosted runners"
      labels:
        - self-hosted
        - linux
        - jammy
        - large
        - X64
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false

      - name: Install the doc framework
        working-directory: docs/
        run: |
          sudo apt install -y -qq python3-venv
          make install

      - name: Run woke checker
        working-directory: docs/
        run: |
          make woke

  linkcheck:
    name: Link check
    runs-on:
      group: "Canonical self-hosted runners"
      labels:
        - self-hosted
        - linux
        - jammy
        - large
        - X64
    defaults:
      run:
        working-directory: docs
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
          fetch-depth: 0 # git history use by sphinx-sitemap during build for last-modified dates

      - name: Install the doc framework
        working-directory: docs/
        run: |
          sudo apt install -y -qq python3-venv
          make install

      - name: Build docs and run linkchecker
        working-directory: docs/
        run: |
          make linkcheck
