name: Automatic documentation checks
permissions:
  contents: read
on:
  pull_request:
    paths:
      - 'docs/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  spellcheck:
    name: Spelling check
    runs-on:
      group: "Canonical self-hosted runners"
      labels:
        - self-hosted
        - linux
        - jammy
        - large
        - X64
    defaults:
      run:
        working-directory: docs
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false

      - name: Install the doc framework
        working-directory: docs/
        run: |
          sudo apt install -y -qq python3-venv
          make install

      - name: Build docs and run spelling checker
        working-directory: docs/
        run: |
          make spelling

  woke:
    name: Inclusive language check
    runs-on:
      group: "Canonical self-hosted runners"
      labels:
        - self-hosted
        - linux
        - jammy
        - large
        - X64
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false

      - name: Install the doc framework
        working-directory: docs/
        run: |
          sudo apt install -y -qq python3-venv
          make install

      - name: Run woke checker
        working-directory: docs/
        run: |
          make woke

  linkcheck:
    name: Link check
    runs-on:
      group: "Canonical self-hosted runners"
      labels:
        - self-hosted
        - linux
        - jammy
        - large
        - X64
    defaults:
      run:
        working-directory: docs
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false

      - name: Install the doc framework
        working-directory: docs/
        run: |
          sudo apt install -y -qq python3-venv
          make install

      - name: Run linkchecker
        working-directory: docs/
        run: |
          make linkcheck
