name: Label issue related to cert-blocker test cases

on:
  issues:
    types: [opened]

jobs:
  label_checked_item:
    runs-on: ubuntu-latest
    permissions:
      issues: write

    steps:
      - name: Check if an issue has a ticked cert-blocker test case mark
        id: check_for_cert_blocker_test_case
        env:
          ISSUE_BODY: ${{ github.event.issue.body }}
        run: |
          if echo "$ISSUE_BODY" | grep -q "\[X\] cert-blocker"; then
            echo "found=true" >> $GITHUB_ENV
          else
            echo "found=false" >> $GITHUB_ENV
          fi

      - name: Add label if cert-blocker test case mark found
        if: env.found == 'true'
        run: gh issue edit "$NUMBER" --add-label "$LABELS"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          NUMBER: ${{ github.event.issue.number }}
          LABELS: cert-blocker test case
