name: Data Science Stack (DSS) Regression Testing
run-name: Testing DSS ${{ inputs.dss_channel }} on ${{ inputs.k8s_type }} ${{ inputs.k8s_channel }}
permissions:
  contents: read
on:
  workflow_dispatch:
    inputs:
      dss_channel:
        description: "Channel of the DSS snap to test"
        default: 1.1/stable
        required: false
        type: choice
        options:
          - 1.0/stable
          - 1.0/edge
          - 1.1/stable
          - 1.1/edge
          - latest/stable
          - latest/edge
      k8s_type:
        description: "The type of K8s to deploy"
        default: "canonical-k8s"
        required: false
        type: choice
        options:
          - microk8s
          - canonical-k8s
      k8s_channel:
        description: "Channel of the appropriate k8s snap to deploy"
        default: "1.32-classic/stable"
        type: string
      kubectl_channel:
        description: "Channel of kubectl snap to use"
        default: "1.31/stable"
        type: string
      nvidia_gpu_operator_version:
        description: "Version of the NVIDIA GPU Operator to install"
        default: "v24.6.2"
        type: string
      intel_gpu_plugin_version:
        description: "Version of the Intel GPU Plugin to install"
        default: "v0.30.0"
        type: string

jobs:
  checkbox-dss-snap-build:
    uses: ./.github/workflows/checkbox-dss-build.yaml

  regression-tests:
    needs: checkbox-dss-snap-build
    name: Tests
    runs-on: [testflinger]
    defaults:
      run:
        working-directory: contrib/checkbox-dss-validation
    strategy:
      fail-fast: false
      matrix:
        queue:
          - summary: "iGPU + NVIDIA GPU"
            name: dell-precision-3470-c30322
            provision_data: "distro: jammy"
            default_manifest: |
              [manifest]
              com.canonical.contrib::has_nvidia_gpus = true
              com.canonical.contrib::has_intel_gpus = true
          - summary: "iGPU + Arc Pro A60M dGPU"
            name: dell-precision-5680-c31665
            provision_data: "url: http://10.102.196.9/somerville/Platforms/jellyfish-muk/X105_A02/dell-bto-jammy-jellyfish-muk-X105-20231026-26_A02.iso"
            default_manifest: |
              [manifest]
              com.canonical.contrib::has_nvidia_gpus = false
              com.canonical.contrib::has_intel_gpus = true
          - summary: "Only NVIDIA GPU"
            name: nvidia-dgx-station-c25989
            provision_data: "distro: jammy"
            default_manifest: |
              [manifest]
              com.canonical.contrib::has_nvidia_gpus = true
              com.canonical.contrib::has_intel_gpus = false
    steps:
      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          persist-credentials: false
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
        name: Download artifact with the built snap
        with:
          name: checkbox-dss.snap
          path: contrib/checkbox-dss-validation
      - name: Find path to the built snap
        id: built-snap
        run: |
          echo "::group::State of current directory"
          pwd
          ls -lah
          echo "::endgroup::"
          echo "local_path="$(find . -name "checkbox-dss*.snap" -printf "%P\n" | head -1)"" >> $GITHUB_OUTPUT
      - name: Build job and launcher files from templates
        id: build-job-file
        env:
          ENV_QUEUE: "${{ matrix.queue.name }}"
          ENV_PROVISION_DATA: "${{ matrix.queue.provision_data }}"
          ENV_DSS_CHANNEL: "${{ inputs.dss_channel }}"
          ENV_K8S_TYPE: "${{ inputs.k8s_type }}"
          ENV_K8S_CHANNEL: "${{ inputs.k8s_channel }}"
          ENV_CB_DSS_SNAP: "${{ steps.built-snap.outputs.local_path }}"
          ENV_LAUNCHER: "launchers/checkbox-dss.conf"
          ENV_KUBECTL_CHANNEL: "${{ inputs.kubectl_channel }}"
          ENV_NVIDIA_OPERATOR_VERSION: "${{ inputs.nvidia_gpu_operator_version }}"
          ENV_INTEL_PLUGIN_VERSION: "${{ inputs.intel_gpu_plugin_version }}"
          DEFAULT_MANIFEST: "${{ matrix.queue.default_manifest }}"
        run: |
          echo "$DEFAULT_MANIFEST" > default_manifest.conf
          echo "::group::Created default manifest"
          cat default_manifest.conf
          echo "::endgroup::"

          envsubst '$ENV_DSS_CHANNEL $ENV_KUBECTL_CHANNEL $ENV_K8S_CHANNEL $ENV_K8S_TYPE $ENV_NVIDIA_OPERATOR_VERSION $ENV_INTEL_PLUGIN_VERSION' \
            < testflinger/setup-def.conf > setup.conf
          echo "::group::Built setup launcher"
          cat setup.conf
          echo "::endgroup::"

          export ENV_SETUP_LAUNCHER=setup.conf
          export ENV_DEFAULT_MANIFEST=default_manifest.conf

          envsubst '$ENV_QUEUE $ENV_PROVISION_DATA $ENV_CB_DSS_SNAP $ENV_LAUNCHER $ENV_SETUP_LAUNCHER $ENV_DEFAULT_MANIFEST' \
            < testflinger/job-def.yaml > job.yaml
          echo "::group::Built job file"
          cat job.yaml
          echo "::endgroup::"

          echo "local_path=$PWD/job.yaml" >> $GITHUB_OUTPUT
      - name: Submit testflinger job
        uses: canonical/testflinger/.github/actions/submit@a5c430ce76f981b5f344c65d82201a27f1e8c18a
        with:
          poll: true
          job-path: ${{ steps.build-job-file.outputs.local_path }}
