name: Data Science Stack (DSS) Regression Testing
on:
  workflow_dispatch:
  # schedule:
  #   - cron: "0 7 * * 1" # every Monday 07:00 UTC
  # push:
  #   branches:
  #     - main
  # pull_request:
  #   branches:
  #     - main

env:
  BRANCH: ${{ github.head_ref || github.ref_name }}

jobs:
  regression-tests:
    name: Regression tests
    runs-on: [testflinger]
    defaults:
      run:
        working-directory: contrib/checkbox-dss-validation
    strategy:
      fail-fast: false
      matrix:
        dss_channel:
          - latest/stable
          - latest/edge
        microk8s_channel:
          - 1.28/stable
          - 1.31/stable
        queue:
          - name: dell-precision-3470-c30322 #ADL iGPU + NVIDIA GPU
            provision_data: "distro: jammy"
          - name: dell-precision-5680-c31665 #RPL iGPU + Arc Pro A60M dGPU
            provision_data: "url: http://10.102.196.9/somerville/Platforms/jellyfish-muk/X96_A00/dell-bto-jammy-jellyfish-muk-X96-20230419-19_A00.iso"
          - name: nvidia-dgx-station-c25989  # NO iGPU + NVIDIA GPU
            provision_data: "distro: jammy"
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Build job file from template
        run: |
          sed -e "s|REPLACE_BRANCH|${BRANCH}|" \
          -e "s|REPLACE_QUEUE|${{ matrix.queue.name }}|" \
          -e "s|REPLACE_PROVISION_DATA|${{ matrix.queue.provision_data }}|" \
          -e "s|REPLACE_DSS_CHANNEL|${{ matrix.dss_channel }}|" \
          -e "s|REPLACE_MICROK8S_CHANNEL|${{ matrix.microk8s_channel }}|" \
          ${GITHUB_WORKSPACE}/contrib/checkbox-dss-validation/testflinger/job-def.yaml > \
          ${GITHUB_WORKSPACE}/job.yaml
      - name: Submit testflinger job
        uses: canonical/testflinger/.github/actions/submit@main
        with:
          poll: true
          job-path: ${GITHUB_WORKSPACE}/job.yaml
