name: Test checkbox-provider-dss (from contrib area) with tox
permissions:
  contents: read
on:
  push:
    branches: [ main ]
    paths:
      - contrib/checkbox-dss-validation/checkbox-provider-dss/**
      - .github/workflows/tox-contrib-provider-dss.yaml
  pull_request:
    branches: [ main ]
    paths:
      - contrib/checkbox-dss-validation/checkbox-provider-dss/**
      - .github/workflows/tox-contrib-provider-dss.yaml
  workflow_dispatch:

jobs:
  tox_test_contrib_dss_provider:
    name: Test checkbox-provider-dss (from contrib area) with tox
    defaults:
      run:
        working-directory: contrib/checkbox-dss-validation/checkbox-provider-dss
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python: ["3.10"]
        include:
          - python: "3.10"
            tox_env_name: "py310"
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55
        with:
          python-version: ${{ matrix.python }}
        env:
          PIP_TRUSTED_HOST: pypi.python.org pypi.org files.pythonhosted.org
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y -qq libgl1 gcc python3-dev gcc python3-dev
          pip install tox
      - name: Run tox
        run: tox -e${{ matrix.tox_env_name }}
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@0565863a31f2c772f9f0395002a31e3f06189574
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: provider-dss
