name: Test release tools with tox
permissions:
  contents: read
on:
  push:
    branches: [ main ]
    paths:
      - tools/release/*
      - .github/workflows/tox-tools-release.yaml
  pull_request:
    branches: [ main ]
    paths:
      - tools/release/*
      - .github/workflows/tox-tools-release.yaml
  workflow_dispatch:

jobs:
  tox_test_release_tools:
    name: Test release tools with tox
    defaults:
      run:
        working-directory: tools/release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: "3.10"
      - name: Install tox
        run: pip install tox
      - name: Run tox
        run: tox -e py310
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: release-tools
