name: Test release tools with tox
permissions:
  contents: read
on:
  push:
    branches: [ main ]
    paths:
      - tools/release/*
      - .github/workflows/tox-tools-release.yaml
  pull_request:
    branches: [ main ]
    paths:
      - tools/release/*
      - .github/workflows/tox-tools-release.yaml
  workflow_dispatch:

jobs:
  tox_test_release_tools:
    name: Test release tools with tox
    defaults:
      run:
        working-directory: tools/release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          python-version: "3.10"
      - name: Install tox
        run: pip install tox
      - name: Run tox
        run: tox -e py310
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: release-tools
