name: Test release tools with tox
permissions:
  contents: read
on:
  push:
    branches: [ main ]
    paths:
      - tools/release/*
      - .github/workflows/tox-tools-release.yaml
  pull_request:
    branches: [ main ]
    paths:
      - tools/release/*
      - .github/workflows/tox-tools-release.yaml
  workflow_dispatch:

jobs:
  tox_test_release_tools:
    name: Test release tools with tox
    defaults:
      run:
        working-directory: tools/release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: "3.10"
      - name: Install tox
        run: pip install tox
      - name: Run tox
        run: tox -e py310
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: release-tools
