name: Test provider-ce-oem (from contrib area) with tox
permissions:
  contents: read
on:
  push:
    branches: [ main ]
    paths:
      - contrib/checkbox-ce-oem/checkbox-provider-ce-oem/**
      - .github/workflows/tox-contrib-provider-ce-oem.yaml
  pull_request:
    branches: [ main ]
    paths:
      - contrib/checkbox-ce-oem/checkbox-provider-ce-oem/**
      - .github/workflows/tox-contrib-provider-ce-oem.yaml
  workflow_dispatch:

jobs:
  tox_test_contrib_ce_oem_provider:
    name: Test ce-oem provider (from contrib area) with tox
    defaults:
      run:
        working-directory: contrib/checkbox-ce-oem/checkbox-provider-ce-oem
    strategy:
      matrix:
        python: ["3.5", "3.6", "3.8", "3.10"]
        include:
          - python: "3.5"
            tox_env_name: "py35"
          - python: "3.6"
            tox_env_name: "py36"
          - python: "3.8"
            tox_env_name: "py38"
          - python: "3.10"
            tox_env_name: "py310"
    runs-on: ${{ (matrix.python == '3.5' || matrix.python == '3.6') && fromJson('["self-hosted", "focal"]') || 'ubuntu-latest' }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      # Python 3.5 setup was failing because of a CERTIFICATE_VERIFY_FAILED
      # error. To fix this, we have set up manually PIP_TRUSTED_HOST, checking
      # first that we can "curl" the hosts, since they will fail in case of
      # expired/invalid/self-signed certificate.
      - name: Workaround SSL Certificates manual verification for Python
        run: |
          curl --fail --silent --show-error https://pypi.python.org
          curl --fail --silent --show-error https://pypi.org
          curl --fail --silent --show-error https://files.pythonhosted.org
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: ${{ matrix.python }}
        env:
          PIP_TRUSTED_HOST: pypi.python.org pypi.org files.pythonhosted.org
      - name: Install dependencies
        env:
          PYTHON_VERSION: ${{ matrix.python }}
        run: |
          sudo add-apt-repository ppa:deadsnakes/ppa
          # python3.5 and python3.6 are no longer in deadsnakes for focal
          # we pushed them to the Checkbox PPA instead
          sudo add-apt-repository ppa:checkbox-dev/edge
          sudo apt-get update
          sudo apt-get install -y -qq libgl1 gcc python$PYTHON_VERSION-dev
          pip install tox
      - name: Run tox
        run: tox -e${{ matrix.tox_env_name }}
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: contrib-provider-ce-oem
