name: Test checkbox-provider-dss (from contrib area) with tox
permissions:
  contents: read
on:
  push:
    branches: [ main ]
    paths:
      - contrib/checkbox-dss-validation/checkbox-provider-dss/**
      - .github/workflows/tox-contrib-provider-dss.yaml
  pull_request:
    branches: [ main ]
    paths:
      - contrib/checkbox-dss-validation/checkbox-provider-dss/**
      - .github/workflows/tox-contrib-provider-dss.yaml
  workflow_dispatch:

jobs:
  tox_test_contrib_dss_provider:
    name: Test checkbox-provider-dss (from contrib area) with tox
    defaults:
      run:
        working-directory: contrib/checkbox-dss-validation/checkbox-provider-dss
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python: ["3.10"]
        include:
          - python: "3.10"
            tox_env_name: "py310"
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065
        with:
          python-version: ${{ matrix.python }}
        env:
          PIP_TRUSTED_HOST: pypi.python.org pypi.org files.pythonhosted.org
      - name: Install dependencies
        env:
          PYTHON_VERSION: ${{ matrix.python }}
        run: |
          sudo add-apt-repository ppa:deadsnakes/ppa
          sudo apt-get update
          sudo apt-get install -y -qq libgl1 gcc python$PYTHON_VERSION-dev
          pip install tox
      - name: Run tox
        run: tox -e${{ matrix.tox_env_name }}
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: provider-dss
