name: Workflow validation
permissions:
  contents: read
on:
  push:
    paths:
      - '.github/workflows/*'

jobs:
  workflow_validation:
    name: Workflow validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Checkbox monorepo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          persist-credentials: false
      - name: Install action-validator with asdf
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47
        with:
          tool_versions: |
            action-validator 0.6.0
      - name: Lint Actions
        run: |
          find .github/workflows -type f \( -iname \*.yaml -o -iname \*.yml \) \
            | xargs -I {} action-validator --verbose {}
  workflow_vulnerability_scan:
    name: Workflow vulnerability scanning
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Checkbox monorepo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          persist-credentials: false
      - name: Install zizmor from crates.io
        uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305
        with:
          crate: zizmor
          version: '1.4.1'
      - name: Scan all workflows
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          zizmor --pedantic $(ls .github/workflows/*.{yaml,yml})
